header{
    background-color: #2b3035;
    nav{
        z-index:2220;
        margin:0px auto;
    }
}
button.carousel-control-prev, button.carousel-control-next{
    height:100px;
    top:45%;
}
.logonaslov{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    span{
        color:#fff;
        transition: all 0.5s;
        &:hover{
            color:white;
        }
    }
}
.foo{
    a{
        color:#fff;
        transition: all 0.5s;
        &:hover{
            color:$cetvrtaboja;
        }
    }
}